*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #282c34;
  color: #ffffff;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #d5d5d5;
}

body::-webkit-scrollbar-thumb {
  background: #898989;
  border-radius: 10px;
  border-right: 1px solid #d5d5d5;
}

.title {
  text-align: center;
  font-size: 30px;
  margin: 30px 0px;
}

input {
  width: 100%;
  font-weight: 600;
  color: #282c34;
  text-align: center;
  font-size: 15px;
  height: 30px;
  margin-bottom: 20px;
}

.panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.category_content {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.category_title {
  background-color: #171c27;
  padding: 5px 10px;
  border-radius: 8px;
}

.loading {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #898989;
}

.card {
  width: 300px;
  height: 200px;
  display: flex;
  overflow: hidden;
  background-color: #1f2531;
  border-radius: 0.5rem;
  margin: 0.75rem;
  box-shadow: 0px 0px 8px 0px #484848;
}

@media (max-width: 660px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    height: initial;
    width: 70%;
  }
}

@media (max-width: 350px) {
  .card {
    width: 100%;
  }
}

.card__imgContainer {
  flex: 2 1 0%;
}

.card__img {
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  object-position: center center;
  object-fit: cover;
}
